/* FROM IONIC CODEBASE: https://github.com/ionic-team/ionic-docs/blob/main/src/components/global/DocsCards/cards.css*/
docs-cards {
    display: grid;
    font-size: 12px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1.35rem;
}

docs-cards > docs-card {
    font-size: inherit;
    max-width: none;
}

docs-cards > docs-card.tall {
    grid-row: span 2;
}

docs-cards > docs-card.wide {
    grid-column: span 2;
}

docs-cards.prioritized > docs-card:nth-child(-n + 5) {
    font-size: 1.25em;
}

docs-cards.prioritized > docs-card:first-child {
    grid-row: span 2;
}

docs-cards.max-measure > docs-card {
    max-width: 50%;
}
