name: Continuous Deployment
on:
  push:
    branches:
    paths:
      - 'doc/**'
jobs:
  docs:
    name: deploy atlasgo.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install
      - name: Build website
        run: npm run build
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Deploy Website
        run: npm run upload
      - name: Invalidate Cache
        run: npm run invalidate-cdn
