{{- define "header" -}}
---
title: CLI Reference
id: cli-reference
slug: cli-reference
---
{{- end }}
{{ define "body" }}
## Introduction

This document serves as reference documentation for all available commands in the Atlas CLI.
Similar information can be obtained by running any atlas command with the `-h` or `--help`
flags.

For a more detailed introduction to the CLI capabilities, head over to the
[Getting Started](/getting-started/) page.

## Distributed Binaries

The binaries distributed in official releases are released under the  [Apache 2 License](https://github.com/ariga/atlas/blob/master/LICENSE).
If you would like to build Atlas from source follow the instructions [here](https://atlasgo.io/cli-reference#building-from-source).

### Building from Source

If you would like to build Atlas from source without the UI code run:
```shell
go get ariga.io/atlas/cmd/atlas
```
{{ range .Blocks }}
{{ header .Depth }} {{ .CommandPath }}

{{ .Short }}

{{- if .UseLine }}

#### Usage
```
{{ .UseLine }}
```
{{- end }}
{{- if .Long }}

#### Details
{{ .Long }}
{{- end }}
{{ if .Example }}
#### Example

```
{{ .Example }}
```
{{- end }}

{{- $flags := .NonInheritedFlags }}
{{- if $flags.HasAvailableFlags }}
#### Flags
```
{{ $flags.FlagUsages }}
```
{{ end }}
{{ end }}

{{ end }}
