{{- define "header" -}}
---
title: CLI Reference
id: cli-reference
slug: /cli/reference
---
{{- end }}
{{ define "body" }}
## Introduction

This document serves as reference documentation for all available commands in the Atlas CLI.
Similar information can be obtained by running any atlas command with the `-h` or `--help`
flags.

For a more detailed introduction to the CLI capabilities, head over to the
[Getting Started](getting-started/01-introduction.mdx) page.

## Distributed Binaries

Starting [v0.3.0](https://github.com/ariga/atlas/releases/tag/v0.3.0),
ֿthe distributed binaries include code for a [Management UI](ui/intro.md) wrapping the
core atlas engine that is not currently released publicly. The binaries
themselves are still released under the same [Apache License 2.0](https://github.com/ariga/atlas/blob/master/LICENSE).

### Building from Source

If you would like to build Atlas from source without the UI code run:
```shell
go get ariga.io/atlas/cmd/atlas
```
{{ range .Blocks }}
{{ header .Depth }} {{ .CommandPath }}

{{ .Short }}

{{- if .UseLine }}

#### Usage
```
{{ .UseLine }}
```
{{- end }}
{{- if .Long }}

#### Details
{{ .Long }}
{{- end }}
{{ if .Example }}
#### Example

```
{{ .Example }}
```
{{- end }}

{{- $flags := .NonInheritedFlags }}
{{- if $flags.HasAvailableFlags }}
#### Flags
```
{{ $flags.FlagUsages }}
```
{{ end }}
{{ end }}
## atlas serve

Run Atlas web UI in a standalone mode

#### Usage
```
atlas serve [flags]
```

#### Details
'atlas serve' runs the Atlas web UI in a standalone mode with optional persistent storage.
If you do not specify the storage, it will be stored in-memory.
Atlas encrypts sensitive data such as passwords using the generated keyset.json.

#### Flags
```
--addr string       listen address for atlas serve (default ":8080")
--storage string    data store url using the dsn format:
                    [driver://username:password@protocol(address)/dbname?param=value] (default "in-memory")
-h, --help          help for serve
```

{{ end }}
